CODER_ACCESS_URL=https://your-coder-domain.example.com
CODER_VERSION=latest
POSTGRES_USER=username
POSTGRES_PASSWORD=password
POSTGRES_DB=coder
DOCKER_UID=1000
DOCKER_GID=1000
TUNNEL_TOKEN=CF_TUNNEL_TOKEN
